:root {
    --main-bg-color: #7DB9B6; /* Warna Primary Posyandu */
    --main-text-color: #7DB9B6;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
        to right,
        #baf3d7,
        #c2f5de,
        #cbf7e4,
        #d4f8ea,
        #ddfaef
    );
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    background-color: #4D455D !important; /* Warna Dark Sidebar */
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    color: white;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
    transition: all 0.3s;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
    color: #bbbec5 !important; /* Warna teks menu inactive */
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color) !important; /* Warna teks menu active */
    font-weight: bold;
    border: none;
}

.sidebar-divider {
    height: 0;
    margin: 0.5rem 1rem;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* Styling untuk Nav Tabs agar lebih terlihat */
.nav-tabs .nav-link {
    background-color: #f8f9fa;      /* Latar abu-abu sangat muda */
    border: 1px solid #dee2e6;      /* Border samar standard Bootstrap */
    margin-right: 2px;              /* Jarak antar tab */
    color: #0c3f72;                 /* Warna teks abu-abu (tidak mencolok) */
    transition: all 0.2s ease-in-out;
}

.nav-tabs .nav-link:hover:not(.disabled) {
    background-color: #e9ecef;      /* Sedikit lebih gelap saat hover */
    border-color: #c6c7c8;
    color: var(--main-text-color);  /* Warnanya jadi hidup saat di-hover */
}

.nav-tabs .nav-link.active {
    background-color: #da9433 !important; /* Aktif tetap putih */
    border-bottom-color: transparent !important; /* Hilangkan border bawah agar menyatu dengan konten */
    color:  #ffffff !important; /* Warna teks utama */
    font-weight: bold;
}

/* Khusus tab disabled agar terlihat beda */
.nav-tabs .nav-link.disabled {
    background-color: #e9ecef !important;
    opacity: 0.6;
    cursor: not-allowed;
}